/** @format */

.comment {
	/* margin: 10px; */
}

.comment.grid {
	display: grid;
	grid-template-areas: 'avatar content';
	grid-template-columns: 0.1fr 1fr;
	grid-template-rows: 70px;
}

.avatar {
	grid-area: 'avatar';
	height: fit-content;
}

.avatar > img {
	width: 30px;
	margin: 10px;
	/* width: 50%; */
}

.content {
	grid-area: 'content';
}

.content.grid {
	display: grid;
	grid-template-areas:
		'metadata'
		'text'
		'actions';
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 0.8fr 0.2fr;
}

.metadata {
	grid-area: 'metadata';
}

.text {
	grid-area: 'text';
}
.actions {
	grid-area: 'actions';
}

.metadata.grid {
	display: grid;
	grid-template-areas: 'author date';
	grid-template-columns: 0fr 1fr;
	grid-gap: 10px;
}

.author {
	grid-area: 'author';
}

.date {
	grid-area: 'date';
}

.actions.grid {
	display: grid;
	grid-template-areas: 'reply like';
	grid-template-columns: 0.1fr 0.1fr;
}

.reply {
	grid-area: 'reply';
}

.like {
	grid-area: 'like';
}
