/** @format */

.reply-form {
	display: grid;
	grid-template-areas: 'field submit';
	grid-template-columns: 0.8fr 0.2fr;
	grid-gap: 10px;
}

.field {
	grid-area: 'field';
}

.submit {
	grid-area: 'submit';
}
